
@{
  ViewData["Title"] = "EditForm";
}

<h1>Formlário de edição</h1>
<hr />
<div class="row">
  <div class="col-md-4">
    <form action="/Aluno/Edit" method="POST">
      <div class="text-danger"></div>
      <div class="form-group">
        <label for="alunoId" class="control-label">Id do Aluno</label>
        <input name="alunoId" id="alunoId" class="form-control" value="@ViewBag.Aluno.Id" readonly />
      </div>
      <div class="form-group">
        <label for="nome" class="control-label">Tarefa</label>
        <input name="nome" id="nome" class="form-control" value="@ViewBag.Aluno.Nome" />
      </div>
      <div class="form-group">
        <input type="submit" value="Alterar" class="btn btn-warning" />
      </div>
    </form>
  </div>
</div>
<a href="/" class="btn btn-primary btn-lg active align-items-end" role="button" aria-pressed="true">Voltar para Home!</a>
