@{
    ViewData["Title"] = "Home Page";
}

  <div class="text-center">
    <h1 class="display-4">Sistema de Agendamento de Atividades Escolares</h1>
    <h2>Aluno</h2>
    <a href="/Aluno/AddForm"><button>Formulario de Adição</button></a>
    <a href="/Aluno/Exibir"><button>Ver itens</button></a>
    <h2> Tarefa</h2>
    <a href="/Tarefa/Exibir"><button type="button" class="btn btn-primary">Exibir Itens</button></a>
    <a href="/Tarefa/AddForm"><button type="button" class="btn btn-primary">Formulário de Adição</button></a>
  </div>
