@{
    ViewData["Title"] = "Home Page";
}

  <div class="text-center">
    <h1 class="display-4">Agendamento de Atividades Escolares</h1>
    <h2>Aluno</h2>
    <a href="/Aluno/Exibir"><button type="button" class="btn btn-primary">Exibir Itens (@ViewBag.Aluno)</button></a>
    <a href="/Aluno/AddForm"><button type="button" class="btn btn-primary">Formulário de Adição</button></a>
    <br />
    <br />
    <h2> Tarefa</h2>
    <a href="/Tarefa/Exibir"><button type="button" class="btn btn-primary">Exibir Itens (@ViewBag.Tarefa)</button></a>
    <a href="/Tarefa/AddForm"><button type="button" class="btn btn-primary">Formulário de Adição</button></a>
    <a href="/Tarefa/DeleteForm"><button type="button" class="btn btn-danger">Exclusão de Tarefas</button></a>
    <br />
    <br />
    <div class="alert alert-info" role="alert">Para editar Acesse o "Exibir Itens"</div>
  </div>
